{% extends "./base.html" %}

{% block feature_top_container %}{% endblock %}

{% block page_title %}

<section class="Section PageTitle PageTitle--feature">
  <div class="Section__content">
    <h1 class="PageTitle__header">
    About Git
    </h1>
    <h2 class="PageTitle__subheader">
    A widely used flexible tool, with re-writable history.
    </h2>
    <div>
      <br /><br /><br /><br /><br /><br /><br />
    </div>
  </div>
</section>
{% endblock %}

{% block feature_main %}
<div class="FeatureBlock">
  <h4 class="GraphicExample__title">
    Why Git?
  </h4>
  <div class="FeatureBlock__body">
    <p>Git is the most widely adopted distributed version control system (DVCS) for software developers. It’s supported on MS Windows and Unix-like systems, such as FreeBSD, Mac OS X and Linux.</p>
  </div>
  <h4 class="GraphicExample__title">
    Flexibility
  </h4>
  <div class="FeatureBlock__body">
    <p>Every command in Git has a number of options. Use these options to customize Git commands to meet a specific development workflow.
</p>
  </div>
  <h4 class="GraphicExample__title">
    Rewritable History
  </h4>
  <div class="FeatureBlock__body">
    <p>Git allows control over your commit history. Git allows changes to commit history, order, and messages. Use these features to provide a cleaner, simpler commit history before sharing your work with others.
</p>
  </div>
  <h4 class="GraphicExample__title">
    Branching and Staging
  </h4>
  <div class="FeatureBlock__body">
    <p>Branches in Git are lightweight — easy to create and discard. Additionally, Git allows partial commits - enabling developers to commit changes to a file, line by line for ultimate commit control.</p>
  </div>    
</div>
{% endblock %}
