{% import "components/icons.html" as icons %}

<div class="col-3">
  <div class="fb_feature_nav">
  <h3>Feature Tour</h3>
  <ul>
    <li>1. <a href="/features/task-management/">Task Management</a></li>
    <li>2. <a href="/features/time-tracking/">Time Tracking</a></li>
    <li>3. <a href="/features/smart-scheduling/">Smart Scheduling</a></li>
    <li>4. <a href="/features/support-helpdesk/">Email Support</a></li>
    <li>5. <a href="/features/crash-reporting/">Crash Reporting</a></li>
    <li>6. <a href="/features/integrated-wiki/">Document Collaboration</a></li>
    <li>7. <a href="/features/scrum-boards/">Scrum Boards</a></li>
    <li>8. <a href="/features/kanban-boards/">Kanban Boards</a></li>
    <li>9. <a href="/features/version-control/">Code Management</a></li>
    <li>10. <a href="/features/code-reviews/">Code Review</a></li>
    <li>11. <a href="/features/security">Security</a></li>
  </ul>
  </div>
</div>