{% extends "base.html" %}
{% import "components/forms.html" as forms %}

{% block content %}
<section class="Section PageTitle PageTitle--title-only">
  <div class="Section__content">
    <h1 class="PageTitle__header">
      <img class="PageTitle__inline-header-graphic" src="https://cdn.glitch.com/f7cc2604-c47d-48c7-ac8e-297e1e01f511%2Fwarning.svg?1509592180635" />404...
    </h1>
    <h2 class="PageTitle__subheader">
      Sorry, we can’t find the page you’re looking for!
    </h2>
    <p class="PageTitle__description">
      Please check that you’ve got the right link  or get in touch with our team at <a href="mailto:customer-service@fogcreek.com">customer-service@fogcreek.com</a> and we’ll help you out.
    </p>
  </div>
</section>
{% endblock content %}
