{% extends "base.html" %}
{% import "components/forms.html" as forms %}

{% block content %}
<section class="Section PageTitle PageTitle--enterprise PageTitle--has-background">
  <div class="Section__content">
    <p style="font-size: 24px; color: red;">Announcing: Manuscript is rebranding back to Fogbugz!</p>
    <h1 class="PageTitle__header">
      Enterprise Solutions
    </h1>
    <h2 class="PageTitle__subheader">
      FogBugz, your way. Value-added services & enhanced support.
    </h2>
    <div class="PageTitle__background"></div>
  </div>
</section>

<section class="ContactDetails">
  <div class="ContactDetails__color-border--1"></div>
  <div class="ContactDetails__color-border--2"></div>
  <div class="ContactDetails__color-border--3"></div>
  <div class="ContactDetails__color-block"></div>

  <div class="SubsectionColumn SubsectionColumn--left">
    <div class="Subsection Subsection--aqua Subsection--with-multiple-icons">
      <div class="Subsection__color-block"></div>
      <div class="Subsection__content">
        <h4 class="Subsection__header">
          <div class="Subsection__header-icons">
            <img src="https://cdn.glitch.com/f7cc2604-c47d-48c7-ac8e-297e1e01f511%2Fcloud.svg?1509502033104" class="Subsection__header-icon" alt="A cloud" />
            <img src="https://cdn.glitch.com/f7cc2604-c47d-48c7-ac8e-297e1e01f511%2Fservers.svg?1509502033104" class="Subsection__header-icon" alt="Three servers" />
          </div>
          In the Cloud or On Premises
        </h4>
        <div class="Subsection__body">
          <p>
            FogBugz can be hosted in the Cloud for ease of access and flexibility. Or on-premises for enhanced control. Either way, you get the same powerful features and world-class support.
          </p>
        </div>
      </div>
    </div>

    <div class="Subsection Subsection--whiteish">
      <div class="Subsection__color-block"></div>
      <div class="Subsection__content">
        <h4 class="Subsection__header">
          <img src="https://cdn.glitch.com/f7cc2604-c47d-48c7-ac8e-297e1e01f511%2F3dudes.svg?1509502033104" class="Subsection__header-icon" alt="Three people" />SLA-backed Support
        </h4>
        <div class="Subsection__body">
          <ul>
            <li>
              We can provide you with direct access to our in-house team of specially trained Senior Support Engineers, for enhanced phone and email support.
            </li>
            <li>
              They’re your dedicated resource to diagnose and troubleshoot issues with your business-critical application, and ensure priority escalation of issues important to you.
            </li>
            <li>
              They can help you with onboarding, and your primary contacts can work directly with a team that’s familiar with your specific environment.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="Subsection Subsection--red">
      <div class="Subsection__color-block"></div>
      <div class="Subsection__content">
        <h4 class="Subsection__header">
          <img src="https://cdn.glitch.com/f7cc2604-c47d-48c7-ac8e-297e1e01f511%2Fhand.svg?1509502033104" class="Subsection__header-icon" alt="A hand holding cables" />Managed Services
        </h4>
        <div class="Subsection__body">
          <ul>
            <li>
              Utilizing our expert knowledge, we can deliver high availability and the performance you need, regardless of scale.
            </li>
            <li>
              We can provide dedicated hardware in the Cloud, managed by us or by you, that’s securely hosted in your own private data centers.
            </li>
            <li>
              Our clustered servers provide uninterrupted access to your application, whilst load-balancing and redundancy distribute load and avoid single points of failure.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="SubsectionColumn SubsectionColumn--right">
    <div class="Subsection Subsection--red">
      <div class="Subsection__color-block"></div>
      <div class="Subsection__content">
        <h4 class="Subsection__header">
          <img src="https://cdn.glitch.com/f7cc2604-c47d-48c7-ac8e-297e1e01f511%2Fdude.svg?1509502033104" class="Subsection__header-icon" alt="A person on a comupter" />Technical Account Management
        </h4>
        <div class="Subsection__body">
          <ul>
            <li>
              Technical Account Management provides you with a single point of contact to a named, in-house Senior Support Engineer.
            </li>
            <li>
              They not only co-ordinate our Enterprise Support with you, but provide strategic account planning and technical advice relating to implementation and on-going use of your application.
            </li>
            <li>
              With quarterly reviews, they proactively advise you on product updates, recommending best practices and strategies to enhance use of your application.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="Subsection Subsection--yellow">
      <div class="Subsection__color-block"></div>
      <div class="Subsection__content">
        <h4 class="Subsection__header">
          <img src="https://cdn.glitch.com/f7cc2604-c47d-48c7-ac8e-297e1e01f511%2Fcoffee.svg?1509502033104" class="Subsection__header-icon" alt="A cup of hot coffee" />Professional Services
        </h4>
        <div class="Subsection__body">
          <ul>
            <li>
               We provide a range of professional services to optimize your application for best performance and adapt it for your own specific use-cases.
            </li>
            <li>
              From performance tuning, product migration, and customization development, to integration with third-party systems and Single Sign-On.
            </li>
            <li>
              Learn more about how we can maximize your value from our tools through <a href="/enterprise/professional-services">Professional Services</a>.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="Section GetStartedBottom GetStartedBottom--enterprise">
  <div class="GetStartedBottom__color-block"></div>
  <div class="Section__content">
    <div class="GetStartedBottom__copy">
      <h4 class="GetStartedBottom__header">
          Learn how FogBugz works:
      </h4>
      <p class="GetStartedBottom__subheader">
        The first 14 days are on us. No credit card required.
      </p>
    </div>
    {{ forms.GetStartedForm(location='bottom', showPrivacy=true, inputColor='aqua', buttonColor='blue') }}
  </div>
</section>

{% endblock content %}