{% extends "./features/base.html" %}

{% block feature_top_container %}{% endblock %}

{% block content %}

<section class="Section PageTitle">
  <div class="Section__content">
    <h2>
    Terms and Conditions
    </h2>
    <p>
      (Archived)
    </p>
  </div>
</section>

<section class="Section Signup">
  <div class="Section__content"> 
   
   <p>The following terms govern the sale of our licensed software and related services obtained prior to August 3, 2018</p><br>

<table><tr><td style="padding:0;width:40%"><b>Manuscript On Premise</b></td>
<td style="padding:0">
<li><a href="https://www.kayako.com/fogbugz-legal/eulams.pdf" target="_blank">End User License Agreement for Manuscript</a></li>

</td>
</tr><tr><td> &nbsp;</td></tr><tr><td colspan="2"></td></tr><tr><td style="padding:0;width:40%"><b>FogBugz On Site</b> </td>
<td style="padding:0">
<li><a href="https://www.kayako.com/fogbugz-legal/eulafbzos.pdf" target="_blank">End User License Agreement for FogBugz On Site</a></li>

</td>
</tr><tr><td> &nbsp;</td></tr><tr><td colspan="2"></td></tr><tr><td colspan="2"></td></tr><tr><td style="padding:0;width:40%"><b>Manuscript Service</b></td>
<td style="padding:0"><li><a href="https://www.kayako.com/fogbugz-legal/mstos.pdf" target="_blank">Manuscript Terms of Service</a></li>
  
  </td>
</tr><tr><td> &nbsp;</td></tr>
    <tr><td style="padding:0;width:40%"><b>FogBugz for Your Server</b></td>
<td style="padding:0">
<li><a href="https://www.kayako.com/fogbugz-legal/eulafbzyourserver.pdf" target="_blank">End User License Agreement for FogBugz for your Server</a></li>
</td>
</tr><tr><td> &nbsp;</td></tr><tr><td colspan="2"></td></tr><tr><td style="padding:0;width:40%"><b>Kiln On Demand</b></td>
<td style="padding:0">
<li><a href="https://www.kayako.com/fogbugz-legal/kilnodtos.pdf" target="_blank">Kiln on Demand Terms of Service</a></li>
</td>

  </tr><tr><td> &nbsp;</td></tr><tr><td colspan="2"></td></tr><tr><td style="padding:0;width:40%"><b>Kiln On Premise</b></td>
<td style="padding:0">
<li><a href="https://www.kayako.com/fogbugz-legal/eulafbzyourserver.pdf" target="_blank">End User License Agreement for FogBugz for your Server</a></li>
</td>
</tr></table>

    
    
    

  </div>   
</section  >
{% endblock content %}
