{% extends "./features/base.html" %}

{% block feature_top_container %}{% endblock %}

{% block content %}

<section class="Section PageTitle">
  <div class="Section__content">
    <h1 class="PageTitle__header">
    Legal
    </h1>
    
  </div>
</section>

<section class="Section Signup">
  <div class="Section__content"> 
   
   <p>Here you will find agreement terms and information about FogBugz' intellectual property and privacy policies.</p>
<h2 class="eggplant">Terms and Conditions</h2>
<p>If you purchased Fogbugz software or services from us or an authorized reseller, your Quote (or electronic order) will include the software title(s) and/or services purchased. As of August 3, 2018, the following terms govern the sale of FogBugz licensed software and related services. Archived editions of predecessor terms and conditions are available here: <a href="/legalarchives">Archived Terms and Conditions</a>.</p>
<table><tr><td style="padding:0;width:40%"><b>FogBugz On Premise</b> <br>(formerly Manuscript On Premise or FogBugz On Site)</td>
<td style="padding:0">
<li><a href="https://www.kayako.com/fogbugz-legal/onpremisesoftware.pdf" target="_blank">Software License Terms and Conditions</a></li>
<li><a href="https://www.kayako.com/fogbugz-legal/onpremisemaintenance.pdf" target="_blank">Maintenance and Support Terms and Conditions</a></li>
<li><a href="https://www.kayako.com/fogbugz-legal/onpremisesoftware.pdf" target="_blank">Support Programs</a></li>
</td>
</tr><tr><td> &nbsp;</td></tr><tr><td colspan="2"></td></tr><tr><td style="padding:0;width:40%"><b>FogBugz On Demand</b> <br>(formerly Manuscript service)</td>
<td style="padding:0">
<li><a href="https://www.kayako.com/fogbugz-legal/ondemandsaastcs.pdf" target="_blank">Software as a Service Terms and Conditions</a></li>
<li><a href="https://www.kayako.com/fogbugz-legal/ondemandsaassupport.pdf" target="_blank">Support Agreement for SaaS</a></li>
  <li><a href="https://www.kayako.com/fogbugz-legal/ondemandsaassla.pdf" target="_blank">Service Level Agreement for SaaS</a></li>
  <li><a href="https://www.kayako.com/fogbugz-legal/onpremisesoftware.pdf" target="_blank">Support Programs</a></li>
</td>
</tr><tr><td> &nbsp;</td></tr><tr><td colspan="2"></td></tr><tr><td colspan="2"></td></tr><tr><td style="padding:0;width:40%"><b>FogBugz for Your Server</b></td>
<td style="padding:0"><li><a href="https://www.kayako.com/fogbugz-legal/onpremisesoftware.pdf" target="_blank">Software License Terms and Conditions</a></li>
  <li><a href="https://www.kayako.com/fogbugz-legal/foryourserversupportterms.pdf" target="_blank">Support Terms and Conditions</a></li>
  </td>
</tr><tr><td> &nbsp;</td></tr>
    <tr><td style="padding:0;width:40%"><b>Kiln On Demand</b></td>
<td style="padding:0">
<li><a href="https://www.kayako.com/fogbugz-legal/onpremisesoftware.pdf" target="_blank">Software as a Service Terms and Conditions</a></li>
<li><a href="https://www.kayako.com/fogbugz-legal/onpremisesoftware.pdf" target="_blank">Support Agreement for SaaS</a></li>
<li><a href="https://www.kayako.com/fogbugz-legal/onpremisesoftware.pdf" target="_blank">Service Level Agreement for SaaS</a></li> 
<li><a href="https://www.kayako.com/fogbugz-legal/onpremisesoftware.pdf" target="_blank">Support Programs</a></li>
</td>
</tr><tr><td> &nbsp;</td></tr><tr><td colspan="2"></td></tr><tr><td style="padding:0;width:40%"><b>Kiln On Premise</b></td>
<td style="padding:0">
<li><a href="https://www.kayako.com/fogbugz-legal/onpremisesoftware.pdf" target="_blank">Software License Terms and Conditions</a></li>
<li><a href="https://www.kayako.com/fogbugz-legal/onpremisesoftware.pdf" target="_blank">Maintenance and Support Terms and Conditions</a></li>
<li><a href="https://www.kayako.com/fogbugz-legal/onpremisesoftware.pdf" target="_blank">Support Programs</a></li>
</td>
</tr><tr><td> &nbsp;</td></tr><tr><td colspan="2"></td></tr><tr><td colspan="2"></td></tr><tr><td style="padding:0;width:40%"><b>Professional Services</b></td>
<td style="padding:0"><li><a href="https://www.kayako.com/fogbugz-legal/proservicestcs.pdf" target="_blank">Professional Services Terms and Conditions</a></li>

  </td>
</tr></table>
<h2 class="eggplant">Privacy</h2>
<table><tr><td style="padding:0;width:40%"><b>Privacy Statement</b></td>
<td style="padding:0"><li><a href="/privacy">Read what type of information FogBugz collects from you and what FogBugz does with the information.</a></li></td>
</tr><tr><td> &nbsp;</td></tr><tr><td colspan="2"></td></tr><tr><td style="padding:0;width:40%"><b>Data Processing Addendum</b></td>
<td style="padding:0">
<li><a href="https://www.kayako.com/fogbugz-legal/onpremisesoftware.pdf" target="_blank">View our Data Processing Addendum for Customers</a></li>

</td>
</tr></table>
    
    
    

  </div>   
</section  >
{% endblock content %}
