{% extends "base.html" %}
{% import "components/forms.html" as forms %}

{% block content %}
<section class="Section PageTitle PageTitle--enterprise PageTitle--has-background">
  <div class="Section__content">
    <h1 class="PageTitle__header">
      Professional Services
    </h1>
    <h2 class="PageTitle__subheader">
      Maximize your value from our tools
    </h2>
    <div class="PageTitle__background"></div>
  </div>
</section>

<section class="ContactDetails">
  <div class="ContactDetails__color-border--1"></div>
  <div class="ContactDetails__color-border--2"></div>
  <div class="ContactDetails__color-border--3"></div>
  <div class="ContactDetails__color-block"></div>

  <div class="SubsectionColumn SubsectionColumn--left">
    <div class="Subsection Subsection--aqua Subsection--with-multiple-icons">
      <div class="Subsection__color-block"></div>
      <div class="Subsection__content">
        <h4 class="Subsection__header">
          Professional Services Offerings
        </h4>
        <div class="Subsection__body">
          <p>
            To help cater to your specific needs, Fog Creek provides a range of Professional Services to maximize the value you get from our tools. From product training and onboarding, to process improvement and integration with other systems. Our dedicated consultants have in-depth knowledge of Fog Creek products, combined with real-world insights gained from years of supporting our customers in a business context.
          </p>
        </div>
      </div>
    </div>

    <div class="Subsection Subsection--green">
      <div class="Subsection__color-block"></div>
      <div class="Subsection__content">
        <h4 class="Subsection__header">
          Onboarding & Product Training
        </h4>
        <div class="Subsection__body">
          <p>
            For large teams who want to jump straight into recommended workflows that suit their business needs, or for small teams who are seeking more individual attention than is provided by our webinars. Including, but not limited to:
          </p>
          <ul>
            <li>
              Consultation on Manuscript and Kiln Usage
            </li>
            <li>
              User Training for Manuscript and Kiln
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="Subsection Subsection--blue">
      <div class="Subsection__color-block"></div>
      <div class="Subsection__content">
        <div class="Subsection__body">
          <p>
            To discuss your requirements, and receive a quote, please call 1-866-364-2733 or email <a href="mailto:sales@fogcreek.com">sales@fogcreek.com</a>.
          </p>
        </div>
      </div>
    </div>    
  </div>

  <div class="SubsectionColumn SubsectionColumn--right">
    <div class="Subsection Subsection--red">
      <div class="Subsection__color-block"></div>
      <div class="Subsection__content">
        <h4 class="Subsection__header">
          Custom Development 
        </h4>
        <div class="Subsection__body">
          <p>
            Both product UI and functionality can be adapted to meet your specific business needs and work within your preferred workflows. Example development work includes, but is not limited to:
          </p>
          <ul>
            <li>
              Creation of custom dashboards and portals
            </li>
            <li>
              Manuscript customizations
            </li>
            <li>
              Development of Version Control-related services
            </li>
            <li>
              Task and workflow automation
            </li>
            <li>
              API and Web Service development
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="Subsection Subsection--purple">
      <div class="Subsection__color-block"></div>
      <div class="Subsection__content">
        <h4 class="Subsection__header">
          Product Migration and Integration
        </h4>
        <div class="Subsection__body">
          <p>
            We can help with writing custom tools to pull in the data you need, in the format you want, from third party sources and systems. Such tasks include, but are not limited to:
          </p>
          <ul>
            <li>
              Product Upgrades
            </li>
            <li>
              Server Moves
            </li>
            <li>
              Data Imports
            </li>
            <li>
              Splitting databases
            </li>
            <li>
              MySQL to MS SQL Data conversions
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="Section GetStartedBottom GetStartedBottom--enterprise">
  <div class="GetStartedBottom__color-block"></div>
  <div class="Section__content">
    <div class="GetStartedBottom__copy">
      <h4 class="GetStartedBottom__header">
          Learn how Manuscript works:
      </h4>
      <p class="GetStartedBottom__subheader">
        The first 14 days are on us. No credit card required.
      </p>
    </div>
    {{ forms.GetStartedForm(location='bottom', showPrivacy=true, inputColor='aqua', buttonColor='blue') }}
  </div>
</section>

{% endblock content %}